*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;
}
#container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    width: 500px;
    gap: 12px;
}
#row-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 12px;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
#green{
    background-color: green;
}
#blue-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}
#blue-div div{
    background-color: blue;
}
